<div class="container" style="padding:2.5%;">
    <div class="container">
        <div style="padding:1.5%;">
            <h1>Hello, {{name}} &#128512;</h1>
            <p>Thank you for your message. Dr. Owiti successfully received it and will get back to you as soon as possible.</p>
            <br>
            <p>
                Kind regards!
                <br>
                <span style="color:blueviolet;">The Dev Team</span>
            </p>
        </div>
    </div>
    <hr>
    <div style="padding:1.5%;margin-top:1.5%;">
        <small style="text-align:center;">
            You are receiving this delivery report because your email was used to send a message on <a href="https://dr-owiti.web.app">Dr. Owiti's website.</a>
            If this happened by mistake or without your knowledge, please take steps to secure your email account.
        </small>
        <br>
        <div style="text-align:center;">
            <small>{{year}} | Dr. Owiti | All rights reserved</small>
        </div>
    </div>    
</div>