<div class="container" style="padding:2.5%;">
    <div class="container">
        <div style="padding:1.5%;">
            <h1>Hello Dr. Owiti,</h1>
            <p>You just received a new message on your landing page. Here are the details:</p>
            <ul>
                <li><span><strong>Sender's email</strong></span> &nbsp;&nbsp; <span style="color:orange">{{email}}</span></li>
                <li><span><strong>Sender's name</strong></span> &nbsp;&nbsp;<span style="color:orange">{{name}}</span></li>
                <h3 style="color:orange">Message</h3>
                <p style="color:blueviolet">{{message}}</p>
            </ul>
            <br>
            <p>
                Kind regards!
                <br>
                <span style="color:blueviolet;">The Dev Team</span>
            </p>
            <br>
            <div style="text-align:center;">
                <small>{{year}} | Dr. Owiti | All rights reserved</small>
            </div>
        </div>
    </div> 
</div>